* {
  font-family: 'Josefin Sans', sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  min-width: 200px;
  padding: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#homepage_cover {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: rgb(38, 38, 43);
  padding-top: 27vh;
}

.nav {
  border-bottom: 1px solid #EAEAEB;

  height: auto;
  min-height: 70px;
  line-height: 70px;
}

#navbar_logo {
  height: 50px;
  margin: 10px;
  float: left;
}

#navbar_logo_name {
  height: 50px;
  margin: 10px;
  float: left;
}

.menu {
  margin: 0 30px 0 0;
  text-align: right;
}

.menu a {

  clear: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 90;
  font-size: 15px;
  margin-right: 30px;

}

.menu a:hover {
  color: gray;
}


.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}


@media only screen and (max-width: 700px) {
  .nav .menu .nav_links:hover {
    background-color: rgba(190, 189, 189, 0.342);
  }

  .nav #navbar_logo_name {
    display: none;
  }

  .nav label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;

  }



  #toggle:checked+.menu {
    display: block;
  }
}


#homepage_event_overview {
  background-color: rgb(38, 38, 43);
  height: 100vh;
  width: 100%;
}

/* events overview section start */

.event_overview_header p {

  letter-spacing: 6px;
  font-family: "Roboto", sans-serif;


  text-align: left;
  color: white;

  font-size: 60px;

  margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 0.5s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 12.5%;
  height: 3px;
  background: rgb(101, 100, 100);
}

.timeline ol li:last-child {
  width: 100%;
}

.timeline ol li:not(:first-child) {
  margin-left: 17px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(60, 163, 179);
}


.circle {
  border: 4px solid rgba(73, 221, 232, 0.767);
  background-color: #FFFFFF;
  height: 90px;
  border-radius: 50%;
  width: 90px;
  display: block;
  text-align: center;
}

.timeline ol li div i {
  font-size: 60px;
  margin-top: 14px;
  color: rgb(13, 70, 78);
}


.timeline ol li div {

  position: absolute;
  left: calc(100% + 7px);
  width: 250px;
  padding: 15px;
  font-size: 13px;
  white-space: normal;
  color: black;
  background: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}





.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}



.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}



.timeline ol li div h3 {
  margin: 5px 5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  color: rgb(57, 153, 160);

}

#event_overview_button {
  margin: 30px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background: none;
  border: 2px solid rgba(29, 85, 89, 0.767);
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 40;

}

#event_overview_button:hover {
  background-color: rgba(73, 221, 232, 0.767);
  color: white;
}

/* events overview section end */














/* sdsad */
#logo-title {
  display: flex;
  width: 80%;
  padding-left: 14%;
  padding-right: 6%;
  height: 300px;
}

#homepage_title {
  float: left;
  padding: 0;
}

#homepage_title_text {
  color: white;
  font-size: 54px;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  /* position: relative;
  top: 48%; */
  margin-top: 126px;
}

#homepage_title_subtext {
  color: white;
  font-size: 20px;
  /* position: absolute;
  top: 55%; */
  margin-left: 20%;
  margin-right: 22%;
}

#homepage_icons {
  position: absolute;
  bottom: 10px;
  left: 48%;
  width: 100%;
}

#homepage_icon_calendar_widget {
  background-image: url("../Images/down-arrow.png");
  background-size: cover;
}

#homepage_icon_photos_widget {
  background-image: url("../Images/photo.png");
  background-size: cover;
}

.homepage_icon_widget_inner {
  height: 30px;
  width: 30px;
}

.homepage_icon_widget {
  background-color: transparent;
  border-radius: 50%;
  float: left;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  transition: 0.3s;
}

.homepage_icon_widget:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#homepage_sub_title {
  float: left;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

.homepage_sub_teal_title_text {
  color: #26dcd0;
  float: left;
  font-size: 92px;
  font-weight: bold;
  margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);
}


.homepage_sub_teal_title_bar {
  background-color: #26dcd0;
  height: 15px;
  margin: -10px 0px 0px calc((100% - 1100px)/2 + 25.5px);
  width: 50px;
}

.homepage_sub_white_title_text {
  color: white;
  font-size: 92px;
  font-weight: bold;
  margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);
}

.homepage_sub_white_title_bar {
  background-color: white;
  height: 15px;
  margin: -10px 0px 0px calc((100% - 1100px)/2 + 25.5px);
  width: 50px;
}

#homepage_photos {
  background-color: rgb(38, 38, 43);
  height: 100vh;
  width: 100%;
}

.mySlides{
  display: none;
  height: 500px;
  width: 1200px;
  margin:auto}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 500px;
  padding-top: 100px;
  position: relative;
  clear:both;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 30px;
  margin-top: -300px;
  margin-left: 80px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 80px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 50;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  position:relative;
  top: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


#homepage_footer_container {
  display: flex;
  justify-content: center;
  background-color: #e9ebee;
  height: 270px;
  width: 100%;
}

#homepage_footer_left_box {
  margin-left: -500px;
  height: 300px;
  width: 800px;
}

#homepage_footer_title {
  color: grey;
  font-size: 72px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

#homepage_footer_subtitle {
  color: grey;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.homepage_footer_icons {
  background-color: grey;
  border-radius: 50%;
  float: left;
  margin: 20px 20px 0px 0px;
  padding: 10px;
  transition: 0.5s;
}

.homepage_footer_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage_footer_widgets {
  height: 30px;
  width: 30px;
}

#homepage_footer_widget_mail {
  background-image: url("../Images/email_white.png");
  background-size: cover;
}

#homepage_footer_widget_github {
  background-image: url("../Images/github2.png");
  background-size: cover;
}

#homepage_footer_widget_wechat {
  background-image: url("../Images/wechat.png");
  background-size: cover;
}

#homepage_footer_widget_linkedin {
  background-image: url("../Images/linkedin_white.png");
  background-size: cover;
}


#logo_footer{
  width: 200px;
  height: 200px;
  margin-top:40px;
  margin-left:120px;
}
#footer_icon_container{
  margin-top: 20px;
  padding-left: 270px;
  padding-right: 200px;
}

#wechat{
  width:500px;
  height: 500px;
  position: relative;
  top: -350px;
  left: 200px;
  opacity: 0;
  transition: 0.5s;

}

#copyright{
  text-align: center;
  background-color: #e9ebee;
  padding-top: 30px;
  height:50px;
}


#homepage_footer_mission_title {
  color: grey;
  font-size: 26px;
  margin: 75px 17.5% 0px 17.5%;
  text-align: center;
  width: 75%;
}

#homepage_footer_links_title {
  border-bottom: 2px solid grey;
  color: grey;
  font-size: 32px;
  margin: 75px 0px 15px 75px;
  padding: 0px 0px 5px 0px;
}

.homepage_footer_links_box {
  margin: 5px 0px 0px 55px;
  width: 145px;
}

.homepage_footer_links {
  color: grey;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  transition: 0.5s;
}

.homepage_footer_links_box:hover {
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.7;
}






/* Imported Libraries found here */
/* https://github.com/IanLunn/Hover */

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #26dcd0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: white;
}

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#logo-animation {
  display: inline-block;
  float: left;
}
/* logo animation  */
#logo-animation svg{
  display:block;
}

#logo-animation svg path,
#logo-animation svg g{
	transform-box: fill-box;
}

#inner,#outer,#middle{
	animation-timing-function: cubic-bezier(.73,1.46,.95,.85);
}
#inner{
	transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	animation: flip_in 9s infinite forwards;
}
#middle{
	transform-origin:43% 50%;
	-moz-transform-origin:43% 50%;
	animation: flip_mid 9s infinite forwards;
	animation-delay: 1s;
}

#outer{
	transform-origin:43% 50%;
	-moz-transform-origin:43% 50%;
	animation: flip_out 9s infinite forwards;
	animation-delay: 2s;
}


@keyframes flip_in {
    0% {transform: rotateY(90deg)}
    25% {transform:rotateY(-45deg) }
    50% {transform:rotateY(30deg)}
    75% {transform: rotateY(-35deg)}
    100% {transform: rotateY(0deg)}
  }

@keyframes flip_mid {
  0% {transform: rotateY(90deg) skewY(-3.5deg)}
  25% {transform:rotateY(-45deg) skewY(-1deg)}
  50% {transform:rotateY(30deg) skewY(1deg)}
  75% {transform:rotateY(-35deg) skewY(-1deg)}
  100% {transform:rotateY(0deg)}
}

@keyframes flip_out {
    0% {transform: rotateY(90deg)}
    25% {transform:rotateY(-35deg) }
    50% {transform:rotateY(30deg)}
    75% {transform: rotateY(-35deg)}
    100% {transform: rotateY(0deg)}
}
