* {
  font-family: 'Josefin Sans', sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  min-width: 200px;
  padding: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#homepage_background {
  background-image: url("../Images/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 50;
}

.nav {
  border-bottom: 1px solid #EAEAEB;

  height: auto;
  min-height: 70px;
  line-height: 70px;
}

#navbar_logo {
  height: 50px;
  margin: 10px;
  float: left;
}

#navbar_logo_name {
  height: 50px;
  margin: 10px;
  float: left;
}

.menu {
  margin: 0 30px 0 0;
  text-align: right;
}

.menu a {

  clear: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 90;
  font-size: 15px;
  margin-right: 30px;

}

.menu a:hover {
  color: gray;
}


.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}


@media only screen and (max-width: 700px) {
  .nav .menu .nav_links:hover {
    background-color: rgba(190, 189, 189, 0.342);
  }

  .nav #navbar_logo_name {
    display: none;
  }

  .nav label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;

  }



  #toggle:checked+.menu {
    display: block;
  }
}







/* Navigation bar start */
/* #navbar {
  background-color: rgba(255, 255, 255, 0.913);
  height: 40px;
  
  position: aboslute;
  padding: 10px 0;
  line-height: 40px;
}



#mobile_navbar {
  text-align: right;
  line-height: 40px;
}

#mobile_navbar label {
  margin: 0 20px 0 0;
  font-size: 20px;
}

#mobile_navbar * {
  display: none;
}

@media only screen and (max-width:500px) {
  #mobile_navbar label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;

  }

  #menu {
    text-align: center;
    width: 100%;

  }

  #menu a {
    clear: right;
    padding-top: 0px;
    height: 100%;
    display: block;
    margin: 0;
    border-bottom: 1px solid black;


  }

  #toggle:checked+#menu {
    display: block;
  }
}

#navbar_logo_button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#navbar_logo {
  height: 40px;
  margin-top: 0 px;
  margin-left: 50px;
}




#navbar_text {
  height: 40px;
  margin-top: 0px;
  margin-left: 0px;
}

#navbar div {
  margin: 0 0;
  height: 100%;
  list-style: none;
  float: right;
  display: flex;
  margin-right: 90px;
}

#navbar div li {
  margin-left: 70px;
  display: table;





}

#navbar div li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 10px 10px;

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;

}

#navbar div li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(8, 170, 206);
  transition: width .35s;
}

#navbar div li a:hover::after {
  width: 100%;
  transition: width .35s;
}

#navbar div li a:hover {
  color: rgba(0, 0, 0, 0.448);
} */

/* Navigation bar end */







/* event overview timeline start */
/* event_overview_section start */
.event_overview_section {
  background-color: rgb(48, 53, 67);
}


.click_events {
  text-align: center;
  position: relative;
}

.title_bar_upper {
  height: 3.5px;
  width: 300px;
  background-color: white;
  display: inline-block;
  margin: 0 auto;

}

.click_events h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 6px;
  font-weight: 30;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 40px;
  margin-top: 20px;

}

.events_title_bar {
  background-color: white;
  width: 650px;
  height: 2px;
  margin: 0 auto;
}

/* Div containing events button Start */
.click_events_div {
  display: inline-block;
  justify-content: center;
}

.click_events_div h5 {
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 50;

}

.event_button {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;

  position: relative;
  margin: 5px 20px 6px 20px;
  border: 3px double white;
  background-color: transparent;
  z-index: 2;
}

.event_button:hover i {

  transform: scale(1.3);
  color: white;
  transition: .5s;
}

.event_button:hover {
  background: #4fb4f7;
  transition: .5s;
  border: 4px double#005f9f;
  cursor: pointer;
  transition: .5s;
}

.event_button:focus {
  background-color: #3bacf7 !important;
  transition: .5s;


}

.event_button:focus+span {
  background-color: #3bacf7 !important;
}

.event_button i {

  font-size: 35px;
  transition: 0.3s linear;
  color: white;

}

.click_events div span {
  background-color: white;
  height: 4.5px;
  width: 20px;
  display: table;
  margin: 0 auto;
  border-radius: 400px;
}

/* Div containing events button End */



/* Annoucement display start */
.announcement_page {
  height: 800px;
  width: 100%;

  position: relative;
}

.mac_display {
  height: 510px;
  width: 660px;
  margin: 0 auto;
  position: relative;
}

.mac_display img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.phone_display {
  height: 250px;
  position: absolute;
  top: 250px;
  left: 75%;
}

.phone_display img {
  max-width: 100%;
  max-height: 100%;
}

#mac_internal {
  background-color: rgba(0, 0, 0, 0.9);
  top: 32px;
  left: 30px;
  color: rgb(79, 255, 3);
  width: 86%;
  height: 300px;
  font-family: monospace;
  font-size: 20px;
  padding: 10px 15px 0 15px;
  overflow: auto;
  position: absolute;
}

@media (max-width: 700px) {
  .mac_display img {
    display: none;
  }

  .phone_display {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    z-index: 3;
  }

  #mac_internal {
    width: 160px;
    position: absolute;
    top: 49%;
    left: 43.5%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

/* Annoucement display end */

/* event overview timeline end */
















/* sdsad */


#homepage_title {
  float: left;
  margin: 27.5vh 0px 0px 0px;
  padding: 0;
  width: 100%;

}

#homepage_title_text {
  color: white;
  font-size: 64px;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  text-align: center;
}

#homepage_subtitle {
  float: left;
  margin: 25px 0px 0px 0px;
  padding: 0;
  width: 100%;
}

#homepage_subtitle_text {
  color: #DAA520;
  font-size: 42px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

#homepage_button {
  float: left;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

#homepage_button_widget {
  background-color: transparent;
  border: 4px solid white;
  border-radius: 50px;
  color: white;
  font-size: 24px;
  margin: 0px 0px 0px calc((100% - 230px) / 2);
  padding: 15px 40px 15px 40px;
  transition: 0.3s;
  width: 230px;
}

#homepage_button_widget:hover {
  background-color: white;
  color: #26dcd0;
  cursor: pointer;
}

#homepage_icons {
  margin: 40px 0px 0px calc((100% - 210px) / 2);
  width: 210px;
}

#homepage_icon_project_widget {
  background-image: url("../Images/project.png");
  background-size: cover;
}

#homepage_icon_calendar_widget {
  background-image: url("../Images/calendar.png");
  background-size: cover;
}

#homepage_icon_photos_widget {
  background-image: url("../Images/photo.png");
  background-size: cover;
}

.homepage_icon_widget_inner {
  height: 30px;
  width: 30px;
}

.homepage_icon_widget {
  background-color: white;
  border-radius: 50%;
  float: left;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  transition: 0.3s;
}

.homepage_icon_widget:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#homepage_projects {
  background-color: #e9ebee;
  height: 100vh;
  width: 100%;
}

#homepage_projects_box {
  height: 52vh;
  margin: 30px 0px 0px calc((100% - 1100px) / 2);
  max-width: 1100px;
}

.homepage_projects_card {
  background-color: white;
  border: 2px solid #26dcd0;
  border-radius: 5px;
  float: left;
  height: 400px;
  margin: 0px calc((100% - 896px) / 8) 0px calc((100% - 896px) / 8);
  width: 220px;
}

.homepage_projects_card_top_border {
  background-color: #26dcd0;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.homepage_projects_card_join_button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  float: left;
  font-size: 16px;
  height: 34px;
  margin: 12px 0px 0px 12px;
  padding: 5px 25px 5px 25px;
  transition: 0.5s;
  width: calc(100% - 70px);
}

.homepage_projects_card_join_button:hover {
  background-color: white;
  color: #26dcd0;
  cursor: pointer;
}

.homepage_projects_card_icon {
  background-color: white;
  border-radius: 50%;
  float: right;
  margin: 12px 12px 0px 0px;
  padding: 7px;
  transition: 0.5s;
}

.homepage_projects_card_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage_projects_github {
  background-image: url("../Images/github.png");
  background-size: cover;
  height: 20px;
  width: 20px;
}

.homepage_projects_background_image {
  border-radius: 0px 0px 5px 5px;
  height: 340px;
  position: relative;
  width: 100%;
  z-index: 1;
}

#homepage_projects_computer_1 {
  background-image: url("../Images/computer_1.jpg");
  background-size: cover;
  height: 340px;
  position: relative;
  width: 220px;
}

#homepage_projects_computer_1:before {
  color: white;
  content: "Web Application \A\A Looking for: \A Software Engineers \A (2 - 3 years) \A\A Experienced with: \A Express, \A MongoDB, \A React \A\A Time: 5 - 10 hrs/wk ";
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  white-space: pre-wrap;
}

#homepage_projects_computer_2 {
  background-image: url("../Images/computer_2.jpg");
  background-size: cover;
  height: 360px;
  margin: -20px 0px 0px 0px;
  position: relative;
  width: 220px;
}

#homepage_projects_computer_2:before {
  color: white;
  content: "Recommendation System \A\A Looking for: \A Software Engineers \A Project Managers \A Data Scientists \A (2 - 3 years) \A\A Experienced with: \A Python, \A Data Science, \A Machine Learning \A\A Time: 5 - 10 hrs/wk ";
  font-size: 18px;
  text-align: center;
  top: 20px;
  padding-top: 30px;
  white-space: pre-wrap;
}

#homepage_projects_computer_3 {
  background-image: url("../Images/computer_3.jpg");
  background-size: cover;
  height: 380px;
  margin: -40px 0px 0px 0px;
  position: relative;
  width: 220px;
}

#homepage_projects_computer_3:before {
  color: white;
  content: "Android Application \A\A Looking for: \A Software Engineers \A Project Manager \A UI/UX Designers \A (0 - 4 years) \A\A Experienced with: \A Java \A\A Time: 5 - 10 hrs/wk ";
  font-size: 18px;
  text-align: center;
  top: 40px;
  padding-top: 30px;
  white-space: pre-wrap;
}


#homepage_projects_computer_4 {
  background-image: url("../Images/computer_4.jpg");
  background-size: cover;
  height: 385px;
  margin: -45px 0px 0px 0px;
  position: relative;
  width: 220px;
}

#homepage_projects_computer_4:before {
  color: white;
  content: "Website \A\A Looking for: \A Software Engineers \A Cogs Sci Designer \A Project Manager \A (0 - 3 years) \A\A Experienced with: \A HTML5, \A CSS, \A React \A\A Time: 5 - 10 hrs/wk ";
  font-size: 18px;
  text-align: center;
  top: 45px;
  padding-top: 30px;
  white-space: pre-wrap;
}


#homepage_sub_title {
  float: left;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

.homepage_sub_teal_title_text {
  color: #26dcd0;
  float: left;
  font-size: 92px;
  font-weight: bold;
  margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);
}

#homepage_projects_tools_box {
  float: right;
  height: 70px;
  margin: 20px calc((100% - 1100px)/2 + 25.5px) 0px 0px;
  width: 500px;
}

.homepage_projects_tools_icons {
  background-color: #37adad;
  border-radius: 50%;
  float: right;
  margin: 0px 15px 0px 0px;
  padding: 15px;
  transition: 0.5s;
}

.homepage_projects_tools_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage_projectS_tools_widgets {
  height: 40px;
  width: 40px;
}

#homepage_projects_tools_icon_html {
  background-image: url("../Images/HTML.png");
  background-size: cover;
}

#homepage_projects_tools_icon_css {
  background-image: url("../Images/CSS.png");
  background-size: cover;
}

#homepage_projects_tools_icon_python {
  background-image: url("../Images/python.png");
  background-size: cover;
}

#homepage_projects_tools_icon_swift {
  background-image: url("../Images/swift.png");
  background-size: cover;
}

#homepage_projects_tools_icon_react {
  background-image: url("../Images/react.png");
  background-size: cover;
}

.homepage_projects_name {
  color: #26dcd0;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.homepage_sub_teal_title_bar {
  background-color: #26dcd0;
  height: 15px;
  margin: -10px 0px 0px calc((100% - 1100px)/2 + 25.5px);
  width: 50px;
}

.homepage_sub_white_title_text {
  color: white;
  font-size: 92px;
  font-weight: bold;
  margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);
}

.homepage_sub_white_title_bar {
  background-color: white;
  height: 15px;
  margin: -10px 0px 0px calc((100% - 1100px)/2 + 25.5px);
  width: 50px;
}

#homepage_calendar {
  background-color: #26dcd0;
  height: 100vh;
  width: 100%;
}

#homepage_google_calendar {
  border: 10px solid white;
  border-radius: 10px;
  margin: 30px 0px 0px calc((100% - 1080px) / 2);
  height: 60vh;
  width: 1080px;
}

#homepage_board {
  background-color: #e9ebee;
  height: 100vh;
  width: 100%;
}

#homepage_board_box {
  height: 55vh;
  margin: 30px 0px 0px calc((100% - 1150px) / 2);
}

.board_widget {
  border: 5px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.board_widget_box {
  background-color: #26dcd0;
  border-radius: 100px 100px 2px 2px;
  float: left;
  height: 400px;
  margin: 0px 25px 0px 25px;
  padding: 10px;
  position: relative;
  width: 160px;
}

.board_widget_text_title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.board_widget_text {
  color: white;
  font-size: 18px;
  text-align: center;
}

.board_widget_icon {
  background-color: white;
  border-radius: 50%;
  bottom: 0;
  cursor: pointer;
  float: left;
  margin: 0px 0px 0px calc((100% - 120px) / 2);
  padding: 10px;
  transition: 0.3s;
}

.board_widget_icon:hover {
  transform: scale(1.1);
}

.email {
  background-image: url("../Images/email.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

.linkedin {
  background-image: url("../Images/linkedin.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

#president_widget {
  background-image: url("../Images/Team/President.png");
  background-size: cover;
}

#vice_president_widget {
  background-image: url("../Images/Team/VicePresident.png");
  background-size: cover;
}

#strategy_officer_widget {
  background-image: url("../Images/Team/StrategyOfficer.png");
  background-size: cover;
}

#human_resource_widget {
  background-image: url("../Images/Team/HumanResource.png");
  background-size: cover;
}

#technical_chair_widget {
  background-image: url("../Images/Team/TechnicalChair.png");
  background-size: cover;
}

#homepage_board_button {
  float: left;
  margin: 30px 0px 0px 0px;
  width: 100%;
}

#homepage_board_button_widget {
  background: transparent;
  border: 3px solid #26dcd0;
  border-radius: 50px;
  color: #26dcd0;
  font-size: 20px;
  margin: 0px 0px 0px calc((100% - 270px) / 2);
  padding: 15px 30px 15px 30px;
  transition: 0.3s;
  width: 270px;
}

#homepage_board_button_widget:hover {
  background-color: #26dcd0;
  color: white;
  cursor: pointer;
}

#homepage_photos {
  background-color: #26dcd0;
  height: 100vh;
  width: 100%;
}



.mySlides {
  display: none;
  height: 500px;
  width: 1200px;
  margin: auto
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 500px;
  padding-top: 100px;
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 30px;
  margin-top: -300px;
  margin-left: 80px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 80px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 50;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: relative;
  top: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .2
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .2
  }

  to {
    opacity: 1
  }
}


#homepage_footer_container {
  display: flex;
  justify-content: center;
  background-color: #e9ebee;
  height: 270px;
  width: 100%;
}

#homepage_footer_left_box {
  margin-left: -500px;
  height: 300px;
  width: 800px;
}

#homepage_footer_title {
  color: grey;
  font-size: 72px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

#homepage_footer_subtitle {
  color: grey;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.homepage_footer_icons {
  background-color: grey;
  border-radius: 50%;
  float: left;
  margin: 20px 20px 0px 0px;
  padding: 10px;
  transition: 0.5s;
}

.homepage_footer_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage_footer_widgets {
  height: 30px;
  width: 30px;
}

#homepage_footer_widget_mail {
  background-image: url("../Images/email_white.png");
  background-size: cover;
}

#homepage_footer_widget_github {
  background-image: url("../Images/github2.png");
  background-size: cover;
}

#homepage_footer_widget_wechat {
  background-image: url("../Images/wechat.png");
  background-size: cover;
}

#homepage_footer_widget_linkedin {
  background-image: url("../Images/linkedin_white.png");
  background-size: cover;
}


#logo_footer {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-left: 120px;
}

#footer_icon_container {
  margin-top: 20px;
  padding-left: 270px;
  padding-right: 200px;
}

#wechat {
  width: 500px;
  height: 500px;
  position: relative;
  top: -350px;
  left: 200px;
  opacity: 0;
  transition: 0.5s;

}

#copyright {
  text-align: center;
  background-color: #e9ebee;
  padding-top: 30px;
  height: 50px;
}


#homepage_footer_mission_title {
  color: grey;
  font-size: 26px;
  margin: 75px 17.5% 0px 17.5%;
  text-align: center;
  width: 75%;
}

#homepage_footer_links_title {
  border-bottom: 2px solid grey;
  color: grey;
  font-size: 32px;
  margin: 75px 0px 15px 75px;
  padding: 0px 0px 5px 0px;
}

.homepage_footer_links_box {
  margin: 5px 0px 0px 55px;
  width: 145px;
}

.homepage_footer_links {
  color: grey;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  transition: 0.5s;
}

.homepage_footer_links_box:hover {
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.7;
}






/* Imported Libraries found here */
/* https://github.com/IanLunn/Hover */

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #26dcd0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: white;
}

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}