/**
  global
  **/
  body {
  	margin: 0;
  	padding: 0;
  }

/** 
header section
**/
.main_container {
	display: inline-block;
}

#projectpage_background {
    background-image: url(Images/projectPage.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#projectpage_title {
	  position:absolute;
	  margin-top: 30%;
    margin-left: 35%;
   /* margin: 27.5vh 0px 0px 0px;
    padding: 0;*/
    width: 50%;
}

#projectpage_title_text{
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0px;
    padding: 0;
    text-align: right;
}

#projectpage_navigation {
	position:absolute;
	margin-top: 38%;
  margin-left: 65%;
  width: 20%;
  font-size: 2vw;
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 600px) {
  #projectpage_title {

    position:absolute;
    margin-top: 70%;
    margin-left: 45%;
   /* margin: 27.5vh 0px 0px 0px;
    padding: 0;*/
    width: 50%;
  }

  #projectpage_navigation {
    display: none;
  }
}

nav a {
	/*float: bottom;
	text-align: bottom;*/

	display: block;
	color:#FF6347;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}
nav a:hover {
  background-color: #FF6347;
	color: white;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s
}
#projectpage_description {
	background-image: url(Images/projectPage2.png);
	background-size: cover;
    height: 100vh;
    width: 100%;
}

#projectpage_description_subtitle {
	color: black;
	display: flex;
	justify-content: space-around;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#projectpage_demo {
	background-color: #C0C0C0;
    height: 100vh;
    width: 100%;
}

#projectpage_demo_subtitle {
	color: black;
	display: flex;
	justify-content: space-around;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#projectpage_team_subtitle {
	color: black;
	display: flex;
	justify-content: space-around;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#projectpage_team {
	background-color: #C0C0C0;
    height: 300vh;
    width: 100%;
}
#projectpage_description .projectpage_sub_title {
    width: 60%;
    margin-right: 20%;
    font-size: 45px;
    font-weight: bold;
    /*margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);*/
}

.projectpage_sub_title {

    float: left;
    font-size: 45px;
    font-weight: bold;
    /*margin: 0px 0px 0px calc((100% - 1100px)/2 + 25.5px);*/
}

* {
   font-family: 'Open Sans', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.row {
	background-color: #C0C0C0;
}

.des_content {
	width: 50%;
	font-size: 21px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: .011em;
  margin-left: 10%;
}

/* Three columns side by side */


.column {
  float: left;
  width: 31.0%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the memberBox */
.memberBox {
  padding: 0 16px;
}

/* Clear floats */
.memberBox::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*footer part*/
#homepage_footer_container {
  display: flex;
  justify-content: center;
  background-color: #e9ebee;
  height: 300px;
  width: 100%;
}

#homepage_footer_left_box {
  margin-left: -500px;
  height: 300px;
  width: 800px;
}

#homepage_footer_title {
  color: grey;
  font-size: 72px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

#homepage_footer_subtitle {
  color: grey;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.homepage_footer_icons {
  background-color: grey;
  border-radius: 50%;
  float: left;
  margin: 20px 20px 0px 0px;
  padding: 10px;
  transition: 0.5s;
}

.homepage_footer_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage_footer_widgets {
  height: 30px;
  width: 30px;
}

#homepage_footer_widget_mail {
  background-image: url("../Images/email_white.png");
  background-size: cover;
}

#homepage_footer_widget_github {
  background-image: url("../Images/github2.png");
  background-size: cover;
}

#homepage_footer_widget_wechat {
  background-image: url("../Images/wechat.png");
  background-size: cover;
}

#homepage_footer_widget_linkedin {
  background-image: url("../Images/linkedin_white.png");
  background-size: cover;
}


#logo_footer{
  width: 200px;
  height: 200px;
  margin-top:40px;
  margin-left:120px;
}
#footer_icon_container{
  margin-top: 20px;
  padding-left: 270px;
  padding-right: 200px;
}

#wechat{
  width:500px;
  height: 500px;
  position: relative;
  top: -350px;
  left: 200px;
  opacity: 0;
  transition: 0.5s;

}

#copyright{
  text-align: center;
  background-color: #e9ebee;
  padding-top: 30px;
  height:50px;
}


#homepage_footer_mission_title {
  color: grey;
  font-size: 26px;
  margin: 75px 17.5% 0px 17.5%;
  text-align: center;
  width: 75%;
}

#homepage_footer_links_title {
  border-bottom: 2px solid grey;
  color: grey;
  font-size: 32px;
  margin: 75px 0px 15px 75px;
  padding: 0px 0px 5px 0px;
}

.homepage_footer_links_box {
  margin: 5px 0px 0px 55px;
  width: 145px;
}

.homepage_footer_links {
  color: grey;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  transition: 0.5s;
}

.homepage_footer_links_box:hover {
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.7;
}

/*timeline design below*/
* {
  box-sizing: border-box;
}

#projectpage_timeline {
  background-color: #DCDCDC;
    height: 150vh;
    width: 100%;
}

#projectpage_timeline .projectpage_sub_title {
  color: black;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  right: -14px;
  background-color: white;
  border: 4px solid #FF6347;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 90%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Social contact link */
.social {
  font-size: 40px;
  padding-bottom: 30px;
}


.social a {
  float: left;
  margin-right: 20px;
  color: #666;
  text-decoration: none;
  transition: all 0.3s;  
}

.social a:hover,
.social a:focus {
  color: #111;
  text-shadow: 0px 0px 5px #FF6347;
}

#changeColor {
  color: #FF6347;
}

img {
  background-size: 50% 50%;
}

/*nav bar section*/

.nav {
  border-bottom: 1px solid #EAEAEB;

  height: auto;
  min-height: 70px;
  line-height: 70px;
}

#navbar_logo {
  height: 50px;
  margin: 10px;
  float: left;
}

#navbar_logo_name {
  height: 50px;
  margin: 10px;
  float: left;
}

.menu {
  margin: 0 30px 0 0;
  text-align: right;
}

.menu a {

  clear: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 90;
  font-size: 15px;
  margin-right: 30px;

}

.menu a:hover {
  color: gray;
}


.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}


@media only screen and (max-width: 700px) {
  .nav .menu .nav_links:hover {
    background-color: rgba(190, 189, 189, 0.342);
  }

  .nav #navbar_logo_name {
    display: none;
  }

  .nav label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;

  }



  #toggle:checked+.menu {
    display: block;
  }
}
